name: C CI

on:
  push:
    branches: [ ğ–§ğ–¤ğ– ğ–£ ]
  pull_request:
    branches: [ ğ–§ğ–¤ğ– ğ–£ ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: make
      run: make
    - name: make test
      run: make test
